# ----- CLEO -----
# File: cusbifurc_config.yaml
# Project: config
# Created Date: Wednesday 17th April 2024
# Author: Clara Bayley (CB)
# Additional Contributors:
# -----
# License: BSD 3-Clause "New" or "Revised" License
# https://opensource.org/licenses/BSD-3-Clause
# -----
# Copyright (c) 2023 MPI-M, Clara Bayley
# -----
# File Description:
# Configuration file for CLEO SDM coupled to a CVODE dynamics solver for an adiabatic parcel example
# Note: The initial superdroplets data read from file "initsupers_filename" can be made with
# CLEO's cleopy module (see Python script "create_initsuperdropsbinary_script.py" for example of usage).
# Likewise the "grid_filename" can be made using cleopy (see "create_gbxboundariesbinary_script.py"),
# and so can the thermodynamics files when using coupled thermodynamics "fromfile".
#

### SDM Runtime Parameters ###
domain:
  nspacedims : 0                                               # no. of spatial dimensions to model
  ngbxs : 1                                                    # total number of Gbxs
  maxnsupers: 1                                                # maximum number of SDs

timesteps:
  CONDTSTEP : 0.01                                             # time between SD condensation [s]
  COLLTSTEP : 0.1                                              # time between SD collision [s]
  MOTIONTSTEP : 0.5                                            # time between SDM motion [s]
  COUPLTSTEP : 0.5                                             # time between dynamic couplings [s]
  OBSTSTEP : 5                                                 # time between SDM observations [s]
  T_END : 150000                                               # time span of integration from 0s to T_END [s]

### Initialisation Parameters ###
inputfiles:
  constants_filename : ./libs/cleoconstants.hpp            # name of file for values of physical constants
  grid_filename : ./build/share/cuspbifurc_dimlessGBxboundaries.dat  # binary filename for initialisation of GBxs / GbxMaps

initsupers:
  type: frombinary                                             # type of initialisation of super-droplets
  initsupers_filename : ./build/share/cuspbifurc_dimlessSDsinit.dat  # binary filename for initialisation of SDs

### Output Parameters ###
outputdata:
  setup_filename : ./build/bin/cuspbifurc_setup.txt                  # .txt filename to copy configuration to
  zarrbasedir : ./build/bin/cuspbifurc_sol.zarr                      # zarr store base directory
  maxchunk : 2500000                                           # maximum no. of elements in chunks of zarr store array

### Microphysics Parameters ###
microphysics:
  condensation:
    do_alter_thermo : true                                    # true = cond/evap alters the thermodynamic state
    maxniters : 50                                            # maximum no. iterations of Newton Raphson Method
    MINSUBTSTEP : 0.0001                                      # minimum subtimestep in cases of substepping [s]
    rtol : 0.0                                                # relative tolerance for implicit Euler integration
    atol : 0.01                                               # absolute tolerance for implicit Euler integration

### Coupled Dynamics Parameters ###
coupled_dynamics:
  type : cvode                                                # type of coupled dynamics to configure
  # initial (uniform) thermodynamic conditions #
  P_init : 100000.0                                           # initial pressure [Pa]
  TEMP_init : 298.15                                          # initial temperature [T]
  relh_init : 98.0                                            # initial relative humidity (%)
  # ODE solver parameters #
  W_avg : 0.002                                               # average amplitude of sinusoidal w [m/s] (dP/dt ~ w*dP/dz)
  TAU_half : 75000                                            # timescale for w sinusoid, tau_half = TAU_half/pi [s]
  rtol : 1e-6                                                 # relative tolerance for integration of [P, T, qv, qc] ODEs
  atol : 1e-6                                                 # relative tolerance for integration of [P, T, qv, qc] ODEs
