*.log
*.png
*.dat
*.out
*.ipynb
*.gif
*.tar.gz
*.patch

.vscode
.ipynb_checkpoints
.DS_Store
__pycache__
.clang-format

build*/
docs/source/_autosummary
examples/examplesolutions
roughpaper/scratch/share
roughpaper/scratch/test_new_superdrops.py
