pre-commit
pytest
sphinx
furo
sphinx_copybutton
sphinxcontrib-bibtex
sphinxcontrib-applehelp
sphinxcontrib-htmlhelp
breathe
numpy
scipy
matplotlib
xarray
awkward
zarr
ruamel.yaml
mpi4py
cython
netcdf4
isodate
