awkward
breathe
cython
furo
isodate
netcdf4
numpy
matplotlib
mpi4py
pathlib
pre-commit
pytest
ruamel.yaml
scipy
sphinx
sphinx_copybutton
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-htmlhelp
typing
xarray
zarr
