---
# ----- CLEO -----
# File: divfree2d_config.yaml
# Project: config
# Created Date: Wednesday 17th April 2024
# Author: Clara Bayley (CB)
# Additional Contributors:
# -----
# Last Modified: Wednesday 17th April 2024
# Modified By: CB
# -----
# License: BSD 3-Clause "New" or "Revised" License
# https://opensource.org/licenses/BSD-3-Clause
# -----
# Copyright (c) 2023 MPI-M, Clara Bayley
# -----
# File Description:
# Configuration file for divergence free motion 2-D CLEO example.
# Note: The initial superdroplets data read from file "initsupers_filename" can be made with
# CLEO's pySD module (see Python script "create_initsuperdropsbinary_script.py" for usage).
# Likewise the "grid_filename" can be made using pySD (see "create_gbxboundariesbinary_script.py"),
# and so can the thermodynamics files when using coupled thermodynamics "fromfile".
#

### Kokkos Initialization Parameters ###
kokkos_settings:
  num_threads : 128                                    # number of threads for host parallel backend
  device_id :  0                                       # device to use for device parallel backend
  map_device_id_by : random                            # select device for execution, either "mpi_rank" or "random".

### SDM Runtime Parameters ###
domain:
  nspacedims : 2                                          # no. of spatial dimensions to model
  ngbxs : 900                                             # total number of Gbxs
  maxnsupers: 3600                                        # maximum number of SDs

timesteps:
  CONDTSTEP : 3                                           # time between SD condensation [s]
  COLLTSTEP : 3                                           # time between SD collision [s]
  MOTIONTSTEP : 3                                         # time between SDM motion [s]
  COUPLTSTEP : 3600                                       # time between dynamic couplings [s]
  OBSTSTEP : 180                                          # time between SDM observations [s]
  T_END : 7200                                            # time span of integration from 0s to T_END [s]

### Initialisation Parameters ###
inputfiles:
  constants_filename : ../libs/cleoconstants.hpp          # name of file for values of physical constants
  grid_filename : ./share/df2d_dimlessGBxboundaries.dat   # binary filename for initialisation of GBxs / GbxMaps

initsupers:
  type: frombinary                                        # type of initialisation of super-droplets
  initsupers_filename : ./share/df2d_dimlessSDsinit.dat   # binary filename for initialisation of SDs

### Output Parameters ###
outputdata:
  setup_filename : ./bin/df2d_setup.txt                   # .txt filename to copy configuration to
  zarrbasedir : ./bin/df2d_sol.zarr                       # zarr store base directory
  maxchunk : 2500000                                      # maximum no. of elements in chunks of zarr store array

### Coupled Dynamics Parameters ###
coupled_dynamics:
  type : fromfile                                         # type of coupled dynamics to configure
  press : ./share/df2d_dimlessthermo_press.dat            # binary filename for pressure
  temp : ./share/df2d_dimlessthermo_temp.dat              # binary filename for temperature
  qvap : ./share/df2d_dimlessthermo_qvap.dat              # binary filename for vapour mixing ratio
  qcond : ./share/df2d_dimlessthermo_qcond.dat            # binary filename for liquid mixing ratio
  wvel : ./share/df2d_dimlessthermo_wvel.dat              # binary filename for vertical (coord3) velocity
  uvel : ./share/df2d_dimlessthermo_uvel.dat              # binary filename for eastwards (coord1) velocity
