name: CI (pytest and documentation)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: cienv
          environment-file: ci_environment.yaml
          auto-activate-base: false
      - run: |
          conda info
          conda list
      - name: Activate Conda Environment
        run: |
          conda init
          source /home/runner/.bashrc
          conda activate /usr/share/miniconda/envs/cienv
          conda info --envs
      - name: Install Doxygen
        run: /usr/share/miniconda/envs/cienv/bin/doxygen --version
        shell: bash
      - name: Test with pytest
        run: pytest .
      - name: Generate Doxygen Documentation
        run: cd docs &&
          mkdir -p build/doxygen &&
          /usr/share/miniconda/envs/cienv/bin/doxygen doxygen/doxygen.dox
        shell: bash
      - name: Build docs
        run: |
          cd docs && make html
      - name: Archive build artifacts (i.e. documentation)
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/build/html/

  publish:
    needs: build
    # Only publish documentation when merging into `origin/main`.`
    if: "github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository_owner == 'yoctoyotta1024'"
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts (i.e. documentation)
        uses: actions/download-artifact@v4
        with:
          name: html-docs
          path: docs/build/html/
      - name: Publish docs on GitHub pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
