on:
  push:
    tags:
      - trigger-pypi-publish

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0
      - uses: astral-sh/setup-uv@v3
      - run: |
          uv build
          ls dist/
          uv publish --trusted-publishing always
